body{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;
	font-family: 'Concert One', cursive;
}
.container-fluid{
	margin: 0;
	padding: 0;
}
.naavbar{
	background-color: #46b8da;
}
.border{
	border: 1px solid grey;
	padding: 10px;
	margin: 20px 0px;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: none;
}
a:focus{
	text-decoration: none;
}
.search{
	width: 80%;
	border-radius: 15px;
	margin-top: 8px;
	background-color: #12738e;
	border: 1px solid #12738e;
	position: relative;
}
.pa{
	position: absolute;
	left: 72%;
	bottom: 18%;
}